<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout lang="ko">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <script src="../../js/jquery.js"></script>
  <script src="../../js/jquery.nice-select.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  <link rel="stylesheet" href="../../css/nice-select.css">

  <title>글 작성</title>
  <style>
  
    #button_color {
      color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
    }

    .boarderselect {
      background-color: rgba(0, 0, 0, 0.0001);
      border-radius: 5px;
      padding: 8px;
      margin-bottom: 10px;
      color: rgb(241, 175, 196);
    }

    .navbar_display {
      background-color: rgb(10, 55, 50);
      box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      transition: all 300ms ease-in-out;
    }
    
     /*파일 이름 뜨게 하는 input박스 설정*/
   .uploadFileText {
			background-color: transparent;
			border-style: none;
			width: 400px;
			margin-left: 10px;
			font-size: small;
			color :white;
	}
  </style>

  <link href="../../css/main.css" rel="stylesheet">
</head>


<body style= "overflow: hidden;">
<div th:replace="view/fragments/header::header"></div>

<body class="" style="color:white; overflow: hidden;">
  <div class="hero-full-container white-text-container">
    <div class="section-container background-image-container">
      <div class="section-container-spacer text-center">
        <div class="container">
            <h1 class="h2">글 작성</h1>
        <form action="/insertCommunity" method="post" enctype="multipart/form-data">
          <div id="divsize">
            <div>
                <select name="noticeCategory" class="div_right boarderselect">
                  <option value="H">꿀팁있어요</option>
                  <option value="F">잡담해요</option>
                </select>
            </div>
              <input type="hidden" name="nickname" th:value="${nickname}">

			<input type="hidden" name="id" th:value="${#authentication.principal.username}">

            <input type="text" class="form-control textbox" name="noticeTitle" placeholder="제목을 입력해주세요." required>
                <div class="form-group">
                    <textarea class="form-control" rows="11" name="noticeContent" placeholder="내용을 입력해주세요" required></textarea>
                    <div class="input-group">
                     <input type="file" name="uploadFiles" class="btn btn-default" id="button_color" multiple="multiple" style="display: none;" 
                        onchange="javascript:document.getElementById('fileName').value = this.value.split('\\')[this.value.split('\\').length-1]">
                      <a class="btn btn-default" id="button_color"
                       onclick="document.all.uploadFiles.click();">
                       &nbsp<i class="far fa-image">&nbsp</i>
                      </a>
                      <!--파일 이름 뜨는곳-->
                      <input type="text" id="fileName" readonly="readonly" class="uploadFileText">
                  </div>
              </div>
              
              <div class="">
                  <button type="submit" class="btn btn-default" id="button_color">글올리기</button >
                  <a class="btn btn-default" id="button_color" 
                  th:href="'/commu'+'/'+${noticeCategory}">목록으로</a  >
              </div>
        </form>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
    const navbar = document.querySelector('#nav');
    const navbarHeight = navbar.getBoundingClientRect().height;

    document.addEventListener('scroll', () => {
      console.log(window.scrollY);
      if (window.scrollY > navbarHeight) {
        navbar.classList.add('navbar_display');
      } else {
        navbar.classList.remove('navbar_display');
      }
    });
  </script>

  <script type="text/javascript" src="/../../js/main.js"></script>
</body>
</html>